/* src/index.css */
@import "tailwindcss";

@keyframes floatSlow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  .animate-float-slow {
    animation: floatSlow 4s ease-in-out infinite;
  }
  .animate-bounce {
    animation: bounce 2s infinite;
  }
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  @keyframes popFromBack {
    0% {
      transform: translateY(100%) scale(0.8);
      opacity: 0;
    }
    25% {
      transform: translateY(0%) scale(1.05);
      opacity: 1;
    }
    75% {
      transform: translateY(0%) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateY(100%) scale(0.8);
      opacity: 0;
    }
  }
  
  .cat-popup {
    animation: popFromBack 3s ease-in-out forwards;
  }
  
  /* //stopwatch
  .btn-green {
    @apply bg-green-500 hover:bg-green-600 text-white px-3 py-1.5 rounded-lg transition;
  }
  .btn-yellow {
    @apply bg-yellow-500 hover:bg-yellow-600 text-white px-3 py-1.5 rounded-lg transition;
  }
  .btn-red {
    @apply bg-red-500 hover:bg-red-600 text-white px-3 py-1.5 rounded-lg transition;
  }
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-600 text-white px-3 py-1.5 rounded-lg transition;
  } */
  
  